@{
    Layout = null;
}

<div class="StepBasket active" dataStep="4">
    <div class="titleAccordion nobg">
        <label class="titleLabel">بررسی سفاش</label>
    </div>
    <div class="row">
        <div class="boxRahgiri">
            <label>کد رهگیری شما عبارت است از :</label>
            <label class="rahgitiCode">@ViewBag.Code</label>
        </div>
    </div>
    <div class="row">
        <div class="boxRahgiri fas fa-star">
            این کد به شماره تلفن همراه شما از طریق پیامک ارسال شده است. جهت بررسی های بعدی در
            حفظ آن کوشا
            باشید.
        </div>
    </div>

    <div class="row cen">
        <div class="col"></div>
        <div class="col">
            <a href="/" class="backToHome">بازگشت به صفحه اصلی سایت</a>
        </div>
    </div>
</div>
